package ${entityPackage};

import lombok.Data;

import java.io.Serializable;
import java.util.Date;
import java.lang.Integer;
import javax.persistence.Column;
import javax.persistence.Id;
import javax.persistence.Table;

/**
 * ${config.desc}实体
 *
 * @author ${config.author}
 * @since ${Date}
 */
@Data
@Table(name = "${config.table}")
public class ${entity} implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $data.columns)
    /**
     * $column.columnComment
     */
#if($column.columnKey == "PRI")
    @Id
#else
#if($column.fill)
    @Column(name = "`$column.column`")
#else
    @Column(name = "`$column.column`")
#end
#end
    private $column.javaType $column.columnName;
#end

}
